* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
  overflow: hidden; // h1 ko div bata matra animation dekhaun lai
  // background-color: green;   // overflow:hidden test garna lai

  // JS ko 6) ma puge paxi yo lekhne
  span {
    display: inline-block;
  }
}
